/* @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap"); */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  padding: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.6;
  background: url(./../img/website-background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: "hidden";
  height: 100vh;
}

.App__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*
* Heading styling
*/

.App__heading {
  margin: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.App__header {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 4rem;
  font-weight: 400;

  animation: moveInLeft 1.5s ease-out;
}

.App__subheader {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 2rem;

  animation: moveInRight 1.5s ease-out;
}

/*
*  MENU STYLING
*/

.App__menu {
  margin: 3.5rem 0 2rem 0;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
}

.App__menu--list {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  border-top: 1px solid #546e7a;
  border-bottom: 1px solid #546e7a;
}

.App__menu--item {
  font-weight: 700;
  margin: 5px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  letter-spacing: 3px;
  /* transition: all 0.5s ease-in; */
}

.App__menu--link:hover {
  color: rgb(54, 150, 247);
}

.App__menu--link {
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

/*
* Projects
*/

.App__projects {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 25vh;
}

.App__slider {
  width: 60vw;
}

/*
* Skills
*/

/*
* Footer
*/

.App__footer {
  text-align: center;
  position: fixed;
  width: 200px;
  bottom: 2rem;
}

/**
KEYFRAMES
*/

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;

    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
